@import '../../../../assets/styles/variables.scss';

.button {
  height: 42px;
  border-radius: 0;
  border: $border;
  outline: none;
  background: $prim-bg-color;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    background: $hover-element-color;
    color: $alt-text-color;
  }
}
