/// BACKGROUND ///
$prim-bg-color: #ffffff;
/// TEXT ///
$basic-text-color: #293845;
$alt-text-color: #ffffff;
/// UTILS ///
$hover-element-color: #6558f5;
$border-color: #ccc;
$border: 1px solid $border-color;
